<nav>
    <div class="nav-content">
        <a href="{{ '/' | relative_url }}" class="nav-logo">Ayush Patne</a>
        
        <div class="nav-links mono">
            <a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a>
            <a href="{{ '/resume' | relative_url }}" class="{% if page.url contains '/resume' %}active{% endif %}">Resume</a>
            <a href="{{ '/archive' | relative_url }}" class="{% if page.url contains '/archive' %}active{% endif %}">Archive</a>
        </div>
    </div>
</nav>